{% extends "base.html" %}
{% from "_tags.html" import make_name %}
{% block title %}Troc’Écocup, comment ça marche ?{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-12 text-center">
    <h2>Troc’Écocup, comment ça marche ?</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h4>Indiques les écocups que tu veux donner et celles que tu souhaites avoir</h4>
    <p>Pour chaque écocup que tu veux donner, tu choisis combien d’écocups tu veux en échange.</p>
    <p>Pour chaque écocup que tu souhaites avoir, tu choisis combien d’écocups tu es prêt à donner.</p>
    <p>
        Par exemple, Alice donne sa Picasso 2010 contre 2 écocups et elle souhaite avoir toutes les PMDE.
        De son côté, Bob est prêt à donner trois écocups pour la Picasso 2010 et il a toutes les PMDE qu’il est prêt à échanger contre une autre écocup chacune.
    </p>
    <p>L’échange final sera qu’Alice donne sa Picasso 2010 contre deux des PMDE de Bob.</p>
  </div>
  <div class="col-md-4">
    <h4>Réalise des échanges</h4>
    <p>Si Troc’Écocup trouve quelqu’un avec qui tu peux réaliser un échange, tu recevras un mail t’indiquant son login.</p>
    <p>Une fois que vous avez convenu d’un rendez-vous et échangé les écocups, confirme l’échange sur Troc’Écocup, cela permettra aux autres de voir ce que valent les écocups.</p>
    <p>Impossible de se retrouver, tu n’as plus l’écocup, pas grave, tu peux annuler l’échange, les écocups matchées disparaissent alors de ta collection.</p>
  </div>
  <div class="col-md-4">
    <h4>Complète ta collection !</h4>
    <p>Tu as enfin réussi à complèter ta collection grâce à Troc’Écocup ? Tu es fièr·e de ta collection et tu veux la montrer ? Envoie nous une photo de ta collec’ et peut-être sera-t-elle affichée sur Troc’Écocup !</p>
  </div>
</div>
{% endblock %}
