{% extends "base.html" %}
{% from "_tags.html" import make_name %}
{% block title %}Troc’Écocup, comment ça marche ?{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-12 text-center">
    <h2>Troc’Écocup, comment ça marche ?</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h4>Indiques ce que tu veux bien donner, ce que tu souhaites avoir</h4>
    <p>Pour chaque écocup, indique si tu souhaites l’échanger où si tu souhaites l’avoir.</p>
  </div>
  <div class="col-md-4">
    <h4>Choisi comment tu veux échanger tes écocups</h4>
    <p>Tu penses que ta PMDE 2012 vaut au moins 5 écocups, pas de problème !
    Tu peux décider pour chaque écocup combien d’autres écocups tu veux recevoir en échange parmi celles que tu souhaites.</p>
    <p>Tu es prêt à donner toute ta collection pour la rarissime Escom 6 roses ? Pour chaque écocup que tu souhaites, tu peux aussi indiquer combien des écocups que tu donnes tu es prêt à donner.</p>
    <p>Tu veux faire une annonce particulière, par exemple une Contact au Mali et une Wall Street contre deux parmi UTCéenne A13, Picasso P11, SkiUTC 2014 et Tremplin Rock ? Crée une annonce qui t’indiquera si l’échange qui te permettra enfin de complèter ta collection est réalisable !</p>
  </div>
  <div class="col-md-4">
    <h4>Complète ta collection !</h4>
    <p>Tu as enfin réussi à complèter ta collection grâce à Troc’Écocup ? Tu es fièr·e de ta collection et tu veux la montrer ? Envoie nous une photo de ta collec’ et peut-être sera-t-elle affichée sur Troc’Écocup !</p>
  </div>
</div>
{% endblock %}
