{% extends "base.html" %}
{% block title %}Accueil Troc’Écocup{% endblock %}
{% block nav %}
<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ url_for('base.index') }}">Troc’Écocup</a>
  </div>
  <div class="navbar-collapse collapse navbar-inverse-collapse">
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('collection.mine') }}">Ma Collection</a></li>
      <li><a href="{{ url_for('echange.echanges') }}">Mes Échanges</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Galleries <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('gallerie.ecocups') }}">Écocups</a></li>
          <li><a href="{{ url_for('gallerie.achievements') }}">Achievements</a></li>
          <li><a href="{{ url_for('gallerie.stats') }}">Statistiques</a></li>
        </ul>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ username }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('profil.me') }}">Mon profil</a></li>
          <li class="divider"></li>
          <li><a href="{{ url_for('cas.logout') }}">Déconnection</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-12">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="..." alt="...">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        ...
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>    
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <h3>Statistiques</h3>
    <ul>
      <li>23 collections complètes</li>
      <li>2420 écocups saisies</li>
      <li>358 collections</li>
      <li>632 échanges réalisés</li>
    </ul>
  </div>
  <div class="col-md-offset-6 col-md-6">
    <h3>Derniers échanges</h3>
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Date</th>
          <th>Écocup donnée</th>
          <th>Écocup reçue</th>
        </tr>
      </thead>
      <tbody>
        <tr class="success">
          <td>2014-06-09 12:05:02</td>
          <td>PMDE P10</td>
          <td>Picasso P14</td>
        </tr>
        <tr class="success">
          <td>2014-06-09 12:15:32</td>
          <td>Ski’UT 2012</td>
          <td>Escom 6 roses</td>
        </tr>
      </tbody>
    </table> 
  </div>
</div>
{% endblock %}
