{% extends "base.html" %}
{% block title %}Mon Profil{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-6">
    <div class="page-header">
      <h4>Mon adresse mail</h4>
    </div>
    <input type="text" placeholder="antoine@alc.io">
  </div>
  <div class="col-md-6">
    <div class="page-header">
      <h4>Désactiver ma collection <small>Départ en stage ? À l’étranger ?</small></h4>
    </div>
    Ma collection est <span class="up">activée</span>.</label>
    <button type="submit" class="btn btn-xs btn-primary">Désactiver</button>
  </div>
</div>
{% endblock %}
