#carousel-ecocups {
	height: 450px;
}

.carousel-inner {
	text-align: center;
	background: lightgrey;
}

.carousel .item > img { display: inline-block; }

.tab-content {
    margin-top: 10px;
}

.bg-soft {
    background-color: rgba(255, 255, 255, 0.7);
    width: 50%;
    display: inline-block;
    border-radius: 5px;
}

.navbar input {
	margin-top: 5px;
}

.up {
	color: green;
	cursor: pointer;
}

.up:hover {
	color: rgba(0,255,0,0.7);
}

.down {
	color: red;
	cursor: pointer;
}

.down:hover {
	color: rgba(255,0,0,0.7);
}

.page-header {
	margin-top: 0px;
}

button a {
	color: white;
}

