#carousel-ecocups {
	height: 450px;
}

.carousel-inner {
	text-align: center;
	background: lightgrey;
}

.carousel .item > img { display: inline-block; }


.navbar input {
	margin-top: 5px;
}

.up {
	color: green;
	cursor: pointer;
}

.up:hover {
	color: rgba(0,255,0,0.7);
}

.down {
	color: red;
	cursor: pointer;
}

.down:hover {
	color: rgba(255,0,0,0.7);
}

.page-header {
	margin-top: 0px;
}

button a {
	color: white;
}

