{% extends "base.html" %}
{% from "_tags.html" import boolean, boolean_neutral %}
{% block title %}Ma collection{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-offset-2 col-md-8" id="left">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Nom</th>
          <th>{{ username }}</th>
          <th>{{ usr }}</th>
        </tr>
      </thead>
      <tbody>
        {% for connected, other in collections %}
        <tr>
          <td>{{ other.good_ref.nom }}</td>
          <td class="data">{{ boolean(connected.in_collection) }}</td>
          <td class="data">{{ boolean(other.in_collection) }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
