{% extends "base.html" %}
{% from "_tags.html" import boolean, boolToInt %}
{% block title %}Ma collection{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-8" id="left">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Écocup</th>
          <th class="header" data-origin="0" data-type="collection">Je veux la cèder</th>
          <th class="header" data-origin="0" data-type="collection">Je veux l’avoir</th>
          <th class="header" data-origin="0" data-type="souhaite">Valeur de l’écocup</th>
        </tr>
      </thead>
      <tbody>
        {% for collec in collections %}
        {% if collec.locked %}
        <tr class="warning">
        {% elif collec.has_it %}
        <tr data-id="{{ collec.id }}" data-hasit={{ boolToInt(collec.has_it) }} data-wishesit={{ boolToInt(collec.wishes_it) }} data-ngoods={{ collec.value }} class="datarow success">
        {% else %}
        <tr data-id="{{ collec.id }}" data-hasit={{ boolToInt(collec.has_it) }} data-wishesit={{ boolToInt(collec.wishes_it) }} data-ngoods={{ collec.value }} class="datarow danger">
        {% endif %}
          <td>{{ collec.good_ref.nom }}</td>
          <td class="data hasit">{{ boolean(collec.has_it) }}</td>
          <td class="data wishesit">{{ boolean(collec.wishes_it) }}</td>
          {% if collec.locked %}
          <td class="data ngoods"><input class="disabled" type="number" value="{{ collec.value }}"></td>
          {% else %}
          <td class="data ngoods"><input type="number" value="{{ collec.value }}"></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-4" id="sticky">
    <div id="modifications" class="alert alert-warning fade in text-center">
      <a href="{{url_for('collection.mine')}}"><button type="button" id="annuler" class="btn btn-primary">Annuler</button></a>
      <button type="button" id="submit" class="btn btn-success">Valider les modifications</button>
    </div>
    <div class="page-header">
      <h4>Détails de l’écocup</h4>
    </div>
    <div class="text-center">
      <img id="ecoImg" src="http://placehold.it/220x180" alt="...">
      <p id="ecoName">Picasso P10</p>
    </div>
  </div>
</div>
<form id="form" method="post" action="{{ url_for('collection.update')}}"><input id="json" type="text" name="json"/></form>
{% endblock %}

{% block extrajs %}
<script>

  $("document").ready(function () {
    $("#modifications").hide();
    $("#form").hide();
    if (!!$('#sticky').offset()) { // make sure ".sticky" element exists

      var stickyTop = $('#sticky').offset().top; // returns number
      var originalWidth = $('#sticky').outerWidth();

      $(window).scroll(function(){ // scroll event

        var windowTop = $(window).scrollTop(); // returns number
        if (stickyTop < windowTop){
          $('#sticky').css({
            position: 'fixed', 
            top: 5,
            left: $("#left").outerWidth() + ($("body").innerWidth() - $(".container").innerWidth())/2,
            width: originalWidth
          });
        } else {
          $('#sticky').css('position','static');
        }
      });
    }
  });

  var getBinaryClass = function(bool) {
    return bool ? "success" : "danger";
  };

  var getBinaryIconClass = function(bool) {
    return bool ? "ok up" : "remove down";
  };

  var toInt = function(bool) {
    return bool ? 1 : 0;
  }

  var refresh = function() {
    $(".modified").each(function () {
      var hasit = $(this).data("hasit");
      var wishesit = $(this).data("wishesit");
      
      $(this).find(".hasit").html("<span class='glyphicon glyphicon-" + getBinaryIconClass(hasit) + "'></span>");
      $(this).find(".wishesit").html("<span class='glyphicon glyphicon-" + getBinaryIconClass(wishesit) + "'></span>");
      
      $(this).removeClass(getBinaryClass(!hasit));
      $(this).addClass(getBinaryClass(hasit));
    });
  };

  $(".hasit").click(function () {
    $("#modifications").show();
    $(this).parent().data("hasit", toInt(!$(this).parent().data("hasit")));

    if ($(this).parent().data("wishesit")) {
        $(this).parent().data("wishesit", toInt(!$(this).parent().data("wishesit")));
    }
    $(this).parent().addClass("modified");
    refresh();
  });

  $(".wishesit").click(function () {
    $("#modifications").show();
    $(this).parent().data("wishesit", toInt(!$(this).parent().data("wishesit")));


    if ($(this).parent().data("hasit")) {
        $(this).parent().data("hasit", toInt(!$(this).parent().data("hasit")));
    }
    
    $(this).parent().addClass("modified");
    refresh();
  });

  $("input[type=number]").on("change paste keyup", function() {
    var val = $(this).val();
    $("#modifications").show();
    $(this).parent().parent().addClass("modified");
    if (val !== "") {
        $(this).parent().parent().data("ngoods", val);
    }
  });
 
  $("tbody tr").hover(function() {
    $("#ecoName").text($(this).children().first().text());
  }, function() {});

  $("#submit").click(function() {

    var modifications = {};

    $(".modified").each(function () {
      var id = $(this).data("id");
      var hasit = $(this).data("hasit");
      var wishesit = $(this).data("wishesit");
      var ngoods = $(this).data("ngoods");
      var id = $(this).data("id");
      var modif = new Object();
      modif.hasit = hasit;
      modif.wishesit = wishesit;
      modif.value = ngoods;
      modifications[id] = modif;
    });

    $("#json").val(JSON.stringify(modifications));
    $("#form").submit();

  });
</script>
{% endblock %}
