{% extends "base.html" %}
{% from "_tags.html" import boolean, boolToInt %}
{% block title %}Mes échanges en cours{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-12">
    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="deleteModalTitle">Attention !</h4>
          </div>
          <div class="modal-body">
            Veux-tu vraiment supprimer cet échange ?
            <form method="post" id="deleteForm" action="{{ url_for("exchange.delete") }}">
                <input name="exchange" style="display: none;">
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-primary" id="deleteConfirm" data-dismiss="modal">Continuer</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modalAddTitle" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modalAddTitle">Demande d’échange</h4>
          </div>
          <div class="modal-body">
            <form class="form form-horizontal" id="addForm" method="post" action="{{ url_for("exchange.create") }}">
              <input name="type" type="text" id="type" style="display: none;">
              <div class="form-group">
                <label for="ecocup">Écocup</label>
                <select name="ecocup" id="ecocup" class="form-control">
                {% for ecocup in ecocups %}
                  <option value="{{ecocup.id}}">{{ecocup.nom}}</option>
                {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="value">Valeur</label>
                <input name="value" class="form-control" id="value" type="number" value="1"/>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-primary" id="addConfirm" data-dismiss="modal">Continuer</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    {% if user_exchanges | length == 0 %}
      <div class="col-md-12">
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Attention !</strong> Tu n’as pas de demande d’échange en cours.
        </div>
      </div>
    {% endif %}
    {% for exchange in user_exchanges %}
      <div class="col-md-4">
        <div class="panel panel-default bootcards-media">
          <div class="panel-heading">
            <h3 class="panel-title">Échange n°{{ exchange.id }}</h3>
          </div>
          <div class="panel-footer">
            <div class="btn-group btn-group-justified">
              <div class="btn-group">
                <button class="btn btn-primary" data-toggle="modal" data-target="#modalDelete" data-id="{{ exchange.id }}">
                  <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                  Supprimer
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
      <div class="col-md-4">
        <div class="panel panel-default bootcards-media">
          <div class="panel-heading">
            <h3 class="panel-title">Créer une demande d’échange</h3>
          </div>
          <div class="panel-footer">
            <div class="btn-group btn-group-justified">
              <div class="btn-group">
                <button class="btn btn-primary" data-toggle="modal" data-target="#modalAdd">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  Ajouter
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
$(function () {
   var activeTab = $('[href=' + location.hash + ']');
   activeTab && activeTab.tab('show');
});

$('#modalDelete').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var id = button.data('id');

    var modal = $(this);
    modal.find('.modal-body input').val(id);
});

$('#deleteConfirm').on('click', function() {
    $('#deleteForm').submit();
});

$('#addConfirm').on('click', function() {
    $('#addForm').submit();
});
</script>
{% endblock %}