{% extends "base.html" %}
{% block title %}Mes derniers échanges{% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-12">
    <h4>Échanges</h4>
    {% if exchanges|length > 0 %}
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Date de création</th>
          <th>Étudiant(e) matché(e)</th>
          <th>Tu lui donnes</th>
          <th>Tu reçois</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for exchange in exchanges %}
        <tr>
          <td>{{ exchange.date_creation }}</td>

          {% if exchange.giver == username %}
          <td>{{ exchange.receiver.login }}</td>
          <td>
            {% for data in exchange.data %}
              {% if data.giver != username %}
                {{ data.good.nom }}
              {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for data in exchange.data %}
              {% if data.giver == username %}
                {{ data.good.nom }}
              {% endif %}
            {% endfor %}
          </td>

          {% else %}
          <td>{{ exchange.giver.login }}</td>
          <td>
            {% for data in exchange.data %}
              {% if data.giver == username %}
                {{ data.good.nom }}
              {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for data in exchange.data %}
              {% if data.giver != username %}
                {{ data.good.nom }}
              {% endif %}
            {% endfor %}
          </td>

          {% endif %}

        

          {% if exchange.date_execution != None %}
          <td>Confirmé</td>
          {% elif exchange.date_cancelled != None %}
          <td>Annulé</td>
          {% else %}
          <td>En cours</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>Pas d’échange effectué</p>
    {% endif %}
  </div>
</div>
{% endblock %}

